@font-face {
  font-family: "grande_italicitalic";
  src: url("https://assets-global.website-files.com/650ff6460d85231bd0148c66/6510662153f43a1aacf2e2e6_grande%20italic.otf") format("woff2"),
    url("https://assets-global.website-files.com/650ff6460d85231bd0148c66/6510662153f43a1aacf2e2e6_grande%20italic.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
